body{
    background-color: rgb(196, 192, 219);
}
h1{
    text-align: center;
    color: rgb(66, 219, 125);
}
h2{
    text-align: center;
    color: blueviolet;
}
.book_call{
    font-style: italic;
    font-weight: bold;
}
.Text_end {
    font-weight: 900;
}